<head>
  <base href="/">
</head>
<body>
<div ng-app="socially">
  <blaze-template name="loginButtons"></blaze-template>
  <h1>
    <a href="/parties">Home</a>
  </h1>
  <div ui-view></div>
</div>
</body>