<form>
  <label>Name</label>
  <input ng-model="newParty.name">
  <label>Description</label>
  <input ng-model="newParty.description">
  <label>Public</label>
  <input type="checkbox" ng-model="newParty.public">
  <button ng-click="newParty.owner=$root.currentUser._id; parties.push(newParty)">Add</button>
  <button ng-click="removeAll()">Remove All</button>
</form>

<ul>
  <h1>Parties:</h1>
  <div>
    <input type="search" ng-model="search" placeholder="Search">
    <select ng-model="orderProperty">
      <option value="1">Ascending</option>
      <option value="-1">Descending</option>
    </select>
  </div>
  <li dir-paginate="party in parties | itemsPerPage: perPage" total-items="partiesCount.count">
    <a ui-sref="partyDetails({partyId:party._id})">{{party.name}}</a>
    <p>{{party.description}}</p>
    <button ng-click="remove(party)">X</button>
    <p><small>Posted by {{ creator(party) | displayName }}</small></p>
  </li>
</ul>

<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>